
<div class="row">
  <div class="col-12 col-md">
    <a href="/events" class="btn btn-primary w-100 mb-3">View Events</a>
  </div>
  <div class="col-12 col-md">
    <a href="/teams" class="btn btn-primary w-100 mb-3">View Teams</a>
  </div>
  <div class="col-12 col-md">
    <a href="/notes/new" class="btn btn-primary w-100 mb-3">Add Note</a>
  </div>
  <div class="col-12 col-md">
    <a href="/photos/new" class="btn btn-primary w-100 mb-3">Add Photo</a>
  </div>
</div>
