<h1>NEW PHOTO</h1>
<form action="/photo" method="post" enctype="multipart/form-data">
    <div>
        <Label>
            team_number
            <input value="<%= @team_number %>" name="team_number" type="text">
        </Label>
    </div>
    <div>
        <Label>
            
            File
<input name="file" type="file">
            

        </Label>
    </div>
    
    
    
    
    
    <button>submit</button>
</form>
