<h1>New Note</h1>
<form action="/note" method="post">
  <div class="mb-3">
    <label for="team_number">Team Number</label>
    <input id="team_number" value="<%= @team_number %>" name="team_number" type="number" class="form-control">
  </div>
  <div class="mb-3">
    <label for="content">Note Content</label>
    <textarea id="content" name="content" rows="7" class="form-control"><%= @content %></textarea>
  </div>
  
  <button class="btn btn-lg btn-primary w-100 mt-3">Submit</button>
</form>
